/* src/components/ProgressiveNavbar.css */

.progressive-navbar {
  width: 100%; /* Prend toute la largeur de l'application */
  background-color: #f2efef; /* Couleur de fond de la barre */
  border-radius: 5px;
  overflow: hidden; /* Cache le débordement pour les coins arrondis */
  margin: 10px 0; /* Espace autour de la barre */
}

.progressive-navbar-container {
  position: relative;
  height: 30px; /* Hauteur de la barre */
  display: flex;
  align-items: center;
}

.progressive-navbar-step {
  position: absolute;
  left: 10px; 
  z-index: 1;
  color: #0b0b0b; 
  font-weight: bold; /* Épaisseur de texte pour une meilleure visibilité */
}

.progressive-navbar-fill {
  height: 100%;
  background-color: #1595f7; 
  transition: width 0.3s ease; 
  width: 0; /* Définissez initialement la largeur à 0 */
}
