.ul {
  max-height: 150px; 
  overflow-y: auto;  
  padding: 10px;
  list-style-type: none;
  background-color: #f9f9f9; 
  border: 1px solid #ddd; 
  margin-top: 20px;
}

.ul li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd; 
}

.ul li:last-child {
  border-bottom: none; 
}

